.modal-background {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    width: 440px;
    max-height: 90vh;
    overflow: auto;
    background-color: #e0e3fd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    object-fit: cover;
}

.btn-close {
    width: 80%;
    padding: 10px;
    margin: 20px 0 30px 0;
    background-color: #A593E0;
    border-radius: 10px;
    border: none;
    color: #FFFFF3;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.btn-close:hover {
    background-color: #FFFFF3;
    color: #A593E0;
    transition: 0.3s ease-out;
}
